@using BadmintonCourts.Models;
@model PaginatedList<BadmintonCourts.Models.Location>

@{
    ViewData["Title"] = "Index";
}

<h1>Locations</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Find by location name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-outline-primary" /> |
            <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No results found for locations named "@ViewData["CurrentFilter"]".
    </div>
}

else{
<table class="table">
    <thead>
        <tr>
            <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Location Name</a>
            </th>
            <th>
                    Address
            </th>
            <th>
                    Suburb
            </th>
            <th>
                    City
            </th>
            <th>
                    Postal Code
            </th>
            <th>
                    Phone Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addresss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suburb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
<!--Deciding whether the previous and next buttons should be active-->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<!--Links for the pagination navigation-->
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>

<!--Displaying current page number and total pages-->
<div>
    Page @Model.PageIndex of @Model.TotalPages
</div>
