@model PaginatedList<BadmintonCourts.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Payments</h1>

@if (User.IsInRole("Admin"))
    {
        <p>
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </p>
    }
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <label>Search by First Name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" /></label>
            <input type="submit" value="Search" class="btn btn-outline-primary" /> |
            <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

@if (!Model.Any() && !string.IsNullOrEmpty(ViewData["CurrentFilter"]?.ToString()))
{
    <div class="alert alert-warning" role="alert">
        No results found for first name "@ViewData["CurrentFilter"]".
    </div>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Payment Amount</a>
            </th>
            <th>
                    PaymentDate
            </th>
            <th>
                    PaymentStatus
            </th>
            <th>
                    Booking
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booking.BadmintonCourtsUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentID"class="btn btn-sm btn-warning me-1">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}
<!--Deciding whether the previous and next buttons should be active-->
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<!--Links for the pagination navigation-->
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>

<!--Displaying current page number and total pages-->
<div>
    Page @Model.PageIndex of @Model.TotalPages
</div>