@model BadmintonCourts.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Court)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Court.CourtName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipment.EName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BadmintonCourtsUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BadmintonCourtsUser.Id)
        </dd>
    </dl>
</div>
<div>
@if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.BookingID">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
