@model IEnumerable<BadmintonRentals.Models.Equipment>

@{
    ViewData["Title"] = "Index";
}

<h1>Equipments</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipmentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipmentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipmentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
